// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.youtube-and-chill {
}

#ync-url_input{
    display: inline-block;
    width: 80%;
    background: transparent;
    color: #fff;
    padding: 5px;
    border: 1px solid #777;
    border-radius: 3px;
    margin: auto 3px;
}

#ync-url_submit{
    display: inline-block;
    width: 15%;
    background: transparent;
    color: #fff;
    padding: 5px;
    border: 1px solid #777;
    border-radius: 3px;
    margin: auto 3px;
}
